<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>NewsSpace</title>
    <link href="{% static 'posts/css/bootstrap.css'%}" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'posts/js/jquery.min.js' %}"></script>
    <!-- Custom Theme files -->
    <link href="{% static 'posts/css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Express News Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script
        type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- for bootstrap working -->
    <script type="text/javascript" src="{% static 'posts/js/bootstrap.js' %}"></script>
    <!-- //for bootstrap working -->
    <!-- web-fonts -->
    <link
        href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
        rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
    <script src="{% static 'posts/js/responsiveslides.min.js' %}"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <script type="text/javascript" src="{% static 'posts/js/move-top.js' %}"></script>
    <script type="text/javascript" src="{% static 'posts/js/easing.js' %}"></script>
    <!--/script-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });
    </script>
    <style>
        #projectname {
            text-align: center;
            color: white;
            text-shadow: 2px 2px 10px silver;
            font-size: 30px;
            margin-top: 0px;
            font-stretch: expanded;
        }

        .col {
            padding: 5px 0px 0px 5px;
        }

        .card {

            border-top: 1px solid white;
            border-left: 1px solid white;
            width: 800px;
            box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
            text-align: center;
            margin: auto;
        }
    </style>
</head>

<body>
    <!-- header-section-starts-here -->
    <div class="header">
        <div class="header-top">
            <div class="wrap">

                <div class="header-bottom">
                    <p id="projectname" width="100px">NewsSpace</p>
                    <div class="navigation">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="wrap">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                                        data-target="#bs-example-navbar-collapse-1">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>

                                </div>
                                <!--/.navbar-header-->

                                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                    <ul class="nav navbar-nav">
                                        <li class="active"><a href="#">Home</a></li>
                                        <li value="sport"><a href="{% url 'sports'%}" >Sports</a></li>
                                        <li class="dropdown">
                                            <a href="{% url 'entertain' %}" >Entertainment<b></b></a>
                                        </li>
                                        <li><a href="{% url 'health' %}">Health</a></li>
                                        <li><a href="fashion.html">Fashion</a></li>
                                        <li class="dropdown">
                                            <a href="{% url 'business' %}">Business</a>

                                        </li>
                                        <li><a href="{% url 'tech' %}">Technology</a></li>
                                        <div class="clearfix"></div>
                                    </ul>
                                    <div class="search">
                                        <!-- start search-->
                                        <div class="search-box">
                                            <div id="sb-search" class="sb-search">
                                                <form>
                                                    <input class="sb-search-input"
                                                        placeholder="Enter your search term..." type="search"
                                                        name="search" id="search">
                                                    <input class="sb-search-submit" type="submit" value="">
                                                    <span class="sb-icon-search"> </span>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- search-scripts -->
                                        <script src="{% static 'posts/js/classie.js'%}"></script>
                                        <script src="{% static 'posts/js/uisearch.js' %}"></script>
                                        <script>
                                            new UISearch(document.getElementById('sb-search'));
                                        </script>
                                        <!-- //search-scripts -->
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <!--/.navbar-collapse-->
                            <!--/.navbar-->
                    </div>
                    </nav>
                </div>
            </div>
            <!-- header-section-ends-here -->
            <div class="wrap">
                <div class="move-text">
                    <div class="breaking_news">
                        <h2>Breaking News</h2>
                    </div>
                    <div class="marquee">
                        <div class="marquee1"><a class="breaking" href="#">>>The standard chunk of Lorem Ipsum
                                used since
                                the 1500s is reproduced..</a></div>
                        <div class="marquee2"><a class="breaking" href="#">>>prithvi shaw scores 99(55) with steller performance ..</a></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <script type="text/javascript" src="{% static 'posts/js/jquery.marquee.min.js' %}"></script>
                    <script>
                        $('.marquee').marquee({ pauseOnHover: true });
			  //@ sourceURL=pen.js
                    </script>
                </div>
            </div>
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item">
                    <a class="nav-link " href="#">Times Of India</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">BBC News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">The Hindu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Google India</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">CNN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'top' %}">Top Post</a>
                </li>
            </ul>
            <br>
            <br>
            <br>

            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6">

                        <div class="card">

                                {% block content %}{% endblock %}

                            </div>
                        </div>
                    </div>
            </div>
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>

        <!-- content-section-ends-here -->

        <script type="text/javascript">
            $(document).ready(function () {
                /*
                var defaults = {
                wrapID: 'toTop', // fading element id
                wrapHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
                };
                */
                $().UItoTop({ easingType: 'easeOutQuart' });
            });
        </script>
        <a href="#to-top" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
        <!---->
</body>

</html>