{% extends 'posts/news.html' %}
{% block content %}
{% for sport in sports %}
<img src= {{ sport.urlToImage }} class="card-img-top" alt="...">
<div class="card-body">
    <p class="card-text"><small class="text-muted">Author | {{sport.author}}</small></p>
<p class="card-text"><small class="text-muted">Published At | {{sport.publishedAt}}</small></p>

<h5 class="card-title"><a href={{sport.url}}> {{sport.title}} </a> </h5>
<p class="card-text">{{sport.content}}</p>
</div>


{% endfor %}
{% endblock content %}